<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block full_title %}{% block title %}Notices{% endblock %} - Racó Test App{% endblock %}</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>


    <meta name="viewport"
          content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,width=device-width,height=device-height,target-densitydpi=device-dpi,user-scalable=yes"/>

</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">{{ self.title() }}</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">

                {% if me %}
                    <li><img src="{{ url_for('foto') }}" style="height:50px; display: block; padding: 5px "></li>
                    <li class="hidden-xs hidden-sm"><p class="navbar-text"><b>{{ me.username }}</b></p></li>
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                {% else %}
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<div class="container" style="padding-top: 60px">
    <div class="row">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="col-md-12">
                        <div class="alert alert-{{ category }} alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            {{ message }}</div>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <div class="row">
        {% for avisos_sliced in avisos|slice(3) %}
            <div class="col-md-4">
                {% set outer_loop = loop %}
                {% for avis in avisos_sliced %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a href="#collapse{{ outer_loop.index }}-{{ loop.index }}"
                               data-toggle="collapse">{{ avis.titol}}</a>
                        </div>
                        <div id="collapse{{ outer_loop.index }}-{{ loop.index }}" class="panel-collapse collapse in">
                            <div class="panel-body">

                                <p>{{ avis.text | safe }}</p>
                            </div>
                            <div class="panel-footer"><b>GRUP:</b>{{ avis.grup }}</div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
        <div class="col-md-12">

            {% if not avisos %}
                {% if me %}
                    <div class="panel panel-default">
                        <div class="panel-body">
                            No notices for you today:'(
                        </div>
                    </div>
                {% else %}
                    <div class="panel panel-default">
                        <div class="panel-body">
                            Login to get your notices.
                        </div>
                    </div>
                {% endif %}
                </div>

            {% endif %}
    </div>


</div>


</body>
</html>