<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block full_title %}{% block title %}Avisos{% endblock %} - Raco Test App{% endblock %}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-pink.min.css">
</head>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">{{ self.title() }}</span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation. We hide it in small screens. -->
            {% if me %}
                <nav class="mdl-navigation">
                    <p class="mdl-navigation__link">Logged in as <b>{{ me.username }}</b></p>
                    <a class="mdl-navigation__link" href="{{ url_for('logout') }}">Logout</a>
                </nav>
            {% else %}
                <nav class="mdl-navigation">
                    <a class="mdl-navigation__link" href="{{ url_for('login') }}">Login</a>
                </nav>
            {% endif %}
        </div>
    </header>
    <div class="mdl-layout__drawer">
        {% if me %}
            <span class="mdl-layout-title">Assignatures {{ me.nom }}</span>
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" href="{{ url_for('logout') }}">Logout</a>
            </nav>
        {% else %}
            <span class="mdl-layout-title">Raco</span>
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" href="{{ url_for('login') }}">Login</a>
            </nav>
        {% endif %}


    </div>
    <main class="mdl-layout__content">
        <div class="page-content ">
            <div class="mdl-grid" style="max-width: 1200px">
                {% for avis in avisos %}
                    <div class="mdl-card mdl-cell--stretch
 mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-shadow--2dp">
                        <div class="mdl-card__title mdl-card--expand">
                            <h4>{{ avis.titol }}</h4>
                        </div>
                        <div class="mdl-card__supporting-text">
                            {{ avis.text | safe }}
                        </div>
                      <div class="mdl-card__actions mdl-card--border">
                          <p>{{ avis.grup }}</p>
                      </div>
                    </div>
                {% endfor %}
            </div>

        </div>
    </main>
    <div id="demo-toast-example" class="mdl-js-snackbar mdl-snackbar">
        <div class="mdl-snackbar__text"></div>
        <button class="mdl-snackbar__action" type="button"></button>

    </div>
    <script async=false defer=false src="https://code.getmdl.io/1.2.1/material.min.js"></script>

    {% with messages = get_flashed_messages() %}
        {% if messages %}

            <script>
                {% for message in messages %}
                    var exe = function () {

                        var notification = document.querySelector('.mdl-js-snackbar');
                        var message = '{{ message }}\n';
                        var data = {message: message};
                        notification.MaterialSnackbar.showSnackbar(data);
                    };
                    setTimeout(exe, 500);

                {% endfor %}

            </script>
        {% endif %}
    {% endwith %}

</div>


</body>
</html>